<a href="https://colab.research.google.com/github/tatiata/hello-work/blob/main/%D0%9B%D0%B1_04_02_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№4.2.1
Рассчитать значение f при заданном значении вещественного числа x:
При выводе на экран оставьте 2 знака после запятой.

In [ ]:
import math

x = float(input("x= "))

if x >= 0:
    f = math.sqrt(x) + x**2
    print(round(f, 2))
else:
    f = 1/x
    print(round(f, 2))

x= 10
103.16

№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
# Задание task_04_02_02.
# Выполнил: Молодцова
# Группа: АДЭУ-201

a1 = int(input('Введите первое число:'))
a2 = int(input('Введите второе число:'))

# Переменная 'a_min' должна содержать минимум, 'a_max' - максимум
if a1>a2:
    a_max=a1
    a_min=a2
else:
    a_max=a2
    a_min=a1

print('Максимум:', a_max, 'Минимум:', a_min)

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите первое число:100
Введите второе число:-1
Максимум: 100 Минимум: -1

№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

In [ ]:
#Задание task_04_02_03.
# Выполнил: Молодцова
# Группа: АДЭУ-201


a = int(input('Ширина форточки:'))
b = int(input('Длина форточки:'))
d = int(input('Диаметр головы:'))

if a>d+1 and b>d+1:
    print("Да")
else:
  print("Нет")

    
# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки:6
Длина форточки:7
Диаметр головы:4
Да

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
# Задание task_04_02_04.
# Выполнил: Молодцова
# Группа: АДЭУ-201

year_today = int(input('Введите текущий год: '))
month_today = int(input('Введите текущий месяц: '))

year = int(input('Введите год рождения: '))
month = int(input('Введите месяц рождения: '))

age = year_today - year
age_month = month_today - month

if age_month < 1:
  age = age - 1 
  age_month = age_month + 12
print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17

Введите текущий год: 2020
Введите текущий месяц: 12
Введите год рождения: 2002
Введите месяц рождения: 1
Число полных лет:  18

№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
# Задание task_04_02_05.
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


x = int(input('Введите координату x: '))
y = int(input('Введите координату y: '))

if x>0 and y>0:
    print("1-я четверть")
elif x<0 and y>0:
    print("2-я четверть")
elif x<0 and y<0:
    print("3-я четверть")
elif x==0 or y==0:
    print("Координатная линия")
else:
    print("4-я четверть")

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату x: 0
Введите координату y: 0
Координатная линия

№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
# Задание task_03_02_06.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!
import math

a = int(input('Введите a: '))
b = int(input('Введите b: '))
c = int(input('Введите c: '))
print(a != 0)

d=b*b-4*a*c
if d<0:
    print("Нет решений")
elif d==0:
    x1=(-b+ math.sqrt(d)) / (2*a)
    print(round(x1, 1))
else:
    x1=(-b+ math.sqrt(d)) / (2*a)
    x2=(-b- math.sqrt(d)) / (2*a)
    print(round(x1, 1))
    print(round(x2, 1))
          


# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

Введите a: 1
Введите b: 3
Введите c: -4
True
x1=1.0, x2=-4.0

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
# Задание task_04_02_07.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


nums_sum = 0  # сумма
nums_count = 0  # количество

x = 1 # Удалите комментарий и допишите код
while x != 0:
    x = int(input('Введите x: '))
    nums_sum = nums_sum + x
    nums_count = nums_count + 1
    # Удалите комментарий и допишите код
print(nums_sum)
print(nums_count - 1)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите x: 0
0
0

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
# Задание task_04_02_08.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('Введите n: ')) # Удалите комментарий и допишите код
x = 0
while x<n:
    print(x)
    x=x+5
    
   
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

Введите n: 19
0
5
10
15

№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

In [ ]:
# Задание task_04_02_09.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = float(input('Введите a: '))# Удалите комментарий и допишите код

n = 0 # Удалите комментарий и допишите код
x_sum = 0 # Удалите комментарий и допишите код

while x_sum <= a:
    n = n +1
    x_sum = x_sum + 1/n
    
print(n)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

Введите a: 2
4

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
# Задание task_04_02_10.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('Введите n: ')) # Удалите комментарий и допишите код

n_sum = 0 # Удалите комментарий и допишите код
n_count = 0 # Удалите комментарий и допишите код

while n != 0:
    n_sum = n_sum + n%10
    n_count = n_count + 1
    n = n//10

print(n_sum)
print(n_count)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

Введите n: 0
0
0

№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
# Задание task_04_02_11.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


start = int(input('Введите start: ')) 
k = int(input('Введите k: ')) 
s = int(input('Введите s: ')) 
n_count = 0 

while n_count < 10:
    if start%10==k and start%s==0:
          print(start, end=" ")
          n_count = n_count + 1
    start = start + 1 

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

Введите start: 100
Введите k: 7
Введите s: 9
117 207 297 387 477 567 657 747 837 927

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
# Задание task_04_02_12.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = int(input('Введите a: '))# Удалите комментарий и допишите код
b = int(input('Введите b: '))# Удалите комментарий и допишите код

if a>b:
  for i in range(b, a+1):
    print(i, end=" ")
  print("")
  for i in range(a, b-1, -1):
    print(i)
elif a<b:
  for i in range(a, b+1):
    print(i, end=" ")
  print("")
  for i in range(b, a-1, -1):
    print(i)
else:
  print(a)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

Введите a: 2
Введите b: 2
2

№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = int(input('Введите a: '))
b = int(input('Введите b: '))

n=0
n_sum = 0
n_mult = 1
n_mult_odd = 1
n_avg = 0 
n_avg_geom = 1
n_odd=0

for i in range(a, b+1):
    n_sum = n_sum + i 
    n_mult = n_mult * i
    if i%2==1:
        n_mult_odd = n_mult_odd * i 
        n_odd = n_odd + 1
    
    n = n + 1

n_avg = n_sum / n
n_avg_geom = n_mult_odd **(1/n_odd)


print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое = ", round(n_avg, 2))
print("Среднее геометрическое нечетных чисел = ", round(n_avg_geom, 2))

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

Введите a: 1
Введите b: 5
Сумма = 15
Произведение = 120
Среднее арифметическое =  3.0
Среднее геометрическое нечетных чисел =  2.47

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_14.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


s = float(input('Введите s: ')) # Удалите комментарий и допишите код
p = float(input('Введите p: ')) # Удалите комментарий и допишите код

total = s
for i in range(1, 10):
    s = s + s*(p*0.01)
    total = total + s
    print(round(s, 1))
# Удалите комментарий и допишите код

print("Суммарный пробег: {:.1f} км.".format(total))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Введите s: 5
Введите p: 10
5.5
6.0
6.7
7.3
8.1
8.9
9.7
10.7
11.8
Суммарный пробег: 79.7 км.

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
# Задание task_04_02_15.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


p = int(input('Введите p: ')) # Удалите комментарий и допишите код
n = int(input('Введите n: ')) # Удалите комментарий и допишите код

total = 0
for i in range(n):
    m = int(input('m: '))
    total = total + m

if total > p:
    print("Не влезает")
else:
    print("Влезает")
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Введите p: 10
Введите n: 2
m: 5
m: 6
Не влезает

№04.02.16.
В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_16.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('Введите n: ')) # Удалите комментарий и допишите код

total = 0

for i in range(n):
    s = int(input('Введите s: '))
    o = int(input('Введите o: '))
    total = total + s*o

print(round(total, 1))
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Введите n: 3
Введите s: 4
Введите o: 2
Введите s: 7
Введите o: 3
Введите s: 9
Введите o: 4
65

№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
# Задание task_04_02_17.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


nums_sum = 0  # сумма
nums_count = 0  # количество

while True:
    n = int(input('Введите n: '))
    if n==0:
      break
    else:
      nums_sum = nums_sum + n 
      nums_count = nums_count + 1

print(nums_sum)  
print(nums_count)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите n: 1
Введите n: 2
Введите n: 3
Введите n: 4
Введите n: 0
10
4

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
# Задание task_04_02_19.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = int(input('Введите a: ')) # Удалите комментарий и допишите код
b = int(input('Введите b: ')) # Удалите комментарий и допишите код
c = int(input('Введите c: ')) # Удалите комментарий и допишите код

if a>b:
  for i in range(b, a+1):
    if i%c==0:
      print(i, end=" ")
elif a<b:
  for i in range(a, b+1):
    if i%c==0:
      print(i, end=" ")

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

Введите a: 1
Введите b: 10
Введите c: 2
2 4 6 8 10

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
# Задание task_04_02_20.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('Введите n: ')) # Удалите комментарий и допишите код

for i in range(100, 1000):
    m = i
    n_sum = 0
    for j in range(3):
        n_sum = n_sum + m%10
        m = m//10
    if n_sum==n:
          print(i, end=" ")


# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

Введите n: 3
102 111 120 201 210 300

№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_21.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('Введите n: '))

r_sr_m = 0.0
r_sr_d = 0.0
d_sum = 0
d = 0 
m_sum = 0
m = 0

for i in range(n):
    l = int(input('Введите l: '))
    if l>0:
        d_sum = d_sum + l 
        d = d + 1 
    elif l<0:
        m_sum = m_sum + l
        m = m+1
    else:
        print("Рост не может быть равен нулю")

r_sr_m = -m_sum / m
r_sr_d = d_sum / d

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

Введите n: 5
Введите l: 150
Введите l: -150
Введите l: 160
Введите l: 170
Введите l: 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

In [ ]:
# Задание task_03_02_06.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = int(input('Введите координату a: '))
b = int(input('Введите координату b: '))
c = int(input('Введите координату c: '))
print(a != 0)

d=sqrt(b)-4*a*c

if d>0:
    print("Два корня")
elif d<0:
    print("Нет решений")
else:
    print("Один конень")

# --------------
# Пример вывода:
#
# Введите a = 1
# Введите b = 2
# Введите m = -5
# Введите n = 5
# Попадает: True

№ 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Задание task_04_02_22.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n: '))

a_max = float(input('x: '))
a_min = a_max

for i in range(n-1):
    x = float(input('x: '))
    if x>a_max:
        a_max = x 
    elif x<a_min:
        a_min = x 

print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n: 4
x: 6.2
x: 3.8
x: 1.1
x: 9.66
Максимум: 9.66
Минимум: 1.10

№ 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
# Задание task_04_02_23.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n: '))

x0 = 0 
x1 = 1 
x2 = 0 

while x2<=n:
    x2 = x0+x1
    if x2==n:
        break
    x0=x1
    x1=x2
if x2==n:
    print("Является")
else:
    print("Не является")


# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

n: 8
Является

№ 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [ ]:
# Задание task_04_02_24.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n: '))

# -1 означает, что последовательность упорядочена по возрастанию
# Если это не так, 'index' меняется в цикле на индекс элемента,
# нарушающего порядок
index = -1
prev = float(input("1-е число = "))

for i in range(n-1):
    curr = float(input("число = "))
    if curr < prev:
      index = i+2
      break
    prev = curr

if index == -1:
    print('Является')
else:
    print(index)
    

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

n: 4
1-е число = 2
число = 4.6
число = 6
число = 8.3
Является

№ 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

In [ ]:
# Задание task_04_02_25.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n: '))

for i in range(1, n+1):
    for j in range(1, n+1):
        print(i*j, end=" ")
    print("")

# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

n: 5
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

№ 4.2.26 
Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

In [ ]:
# Задание task_04_02_26.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n: '))

for i in range(1, n+1):
    m=0
    for j in range(1, i+1):
        if i%j==0:
            m = m + 1
    print(i, end=" ")
    for j in range(m):
        print('*', end="")
    print("")

# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

n: 10
1 *
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

№ 4.2.27

Выведите на экран (в строку) n первых простых чисел.

In [ ]:
# Задание task_04_02_27.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!

x=1
counter=0
n = int(input('n: '))

while counter < n:
      m=0
      for j in range(1, x+1):
        if x%j==0:
            m = m + 1
        if m>2:
            break
      if m==2:
          counter = counter + 1
          print(x, end=" ")
      x=x+1



# --------------
# Пример вывода:
#
# n = 10
# 2 3 5 7 11 13 17 19 23 29

n: 10
2 3 5 7 11 13 17 19 23 29

№ 4.2.29

Дан список из n вещественных чисел, введенных с клавиатуры (среди чисел есть по крайней мере одно положительное и отрицательное число).

Сформируйте из него 2 списка:

положительных чисел, используя списковые включения;

отрицательных чисел, не используя списковые включения.

Выведите на экран:

исходный список;

получившиеся списки;

среднее арифметическое первого списка и среднее геометрическое второго списка.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Задание task_04_02_29.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input("n = "))

nums = []
for i in range(n):
    nums.append(float(input("m = ")))


d=0
nums_neg = []
nums_pos = [i for i in nums if i>0]
for i in nums:
    if i<0:
        nums_neg.append(i)
        d = d + 1 

print(nums)
print(nums_neg)
print(nums_pos)
с=0
poz_s=0
for i in nums_pos:
    poz_s = poz_s + i 
    с = с + 1

neg=1 
for i in nums_neg:
    neg = neg * i 


sr_ar = (poz_s)/(c)
sr_geom = neg**(1/d)

print(sr_ar)
print(round(sr_geom, 2))


# --------------
# Пример вывода:
#
# n = 4
# Введите 1-й элемент списка: 1
# Введите 2-й элемент списка: 6
# Введите 3-й элемент списка: -10
# Введите 4-й элемент списка: -3
# Исходный список: [1.0, 6.0, -10.0, -3.0]
# Положительные числа: [1.0, 6.0]
# Отрицательные числа: [-10.0, -3.0]
# Ср. арифм.: 3.50
# Ср. геом.: 5.48

n = 4
m = 6
m = 1
m = -10
m = -3
[6.0, 1.0, -10.0, -3.0]
[-10.0, -3.0]
[6.0, 1.0]
3.5
5.48

In [ ]:
# Задание task_03_02_06.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


a = int(input('Введите координату a: '))
b = int(input('Введите координату b: '))
c = int(input('Введите координату c: '))
print(a != 0)

d=sqrt(b)-4*a*c

if d>0:
    print("Два корня")
elif d<0:
    print("Нет решений")
else:
    print("Один конень")

# --------------
# Пример вывода:
#
# Введите a = 1
# Введите b = 2
# Введите m = -5
# Введите n = 5
# Попадает: True

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
# Задание task_04_02_20.
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


n = int(input('n= '))

for i in range(100, 1000):
    if (i//100 + (i % 100)//10 + i % 10 == n):
        print(i, end = ' ')

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n= 3
102 111 120 201 210 300